{% extends 'admin/admin.html.twig' %}

{% block title %}
    {% trans %}Create school{% endtrans %}
{% endblock %}

{% block header %}
    <a href="{{ path('app_schools') }}" class="action"><i class="fas fa-chevron-left fa-fw"></i></a>
    {% trans %}Create school{% endtrans %}
{% endblock %}

{% block content %}
    <div class="content-padding">
        <div class="card backdrop">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
