<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet"/>
        <link href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" rel="stylesheet"/>
        <link href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" rel="stylesheet"/>
        <title>Periit - {% block title %}{% endblock %}</title>
        {% block styles %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block scripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
